@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

h1 {
  font-family: "Tourney", sans-serif;
  font-size: 55px;
}

body {
  margin: 0;
  background-color: rgb(228, 237, 240);
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
